html, body {
    height: 100%;
}

body {
    margin: 0;
}

a{
    color: black;
    font-size: 10pt;
    font-family: arial,sans-serif;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar-container{
    display: flex;
    padding: 25px;
}

.left-nav{
    margin-right: auto;
}

.navlinks{
    padding: 5px;
}

.main-container{
    justify-content: center;
    margin: auto;
    padding-bottom: 200px;
}

.search{
    outline: none;
    margin-left: 10px;
    width: 500px;
    height: 40px;
    border: 1px #000 solid;
    border-radius: 50px;
    text-indent: 20px;
    font-size: 20px;
}

.button-group{
    padding-left: 135px;
    padding-top: 20px;
}

.button{
    margin: 5px;
    padding: 5px;
}

.footer-container{
    display: flex;
    padding: 15px;
    background-color: #f2f2f2;
}

.left-footer{
    margin-right: auto;
}