html, body {
    height: 100%;
}

body {
    margin: 0;
}

a{
    color: black;
    font-size: 10pt;
    font-family: arial,sans-serif;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar-container{
    display: flex;
    padding: 25px;
}

.left-nav{
    margin-right: auto;
}

.navlinks{
    padding: 5px;
}

.main-container{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 200px;
}

.search{
    margin-left: 30px;
    width: 450px;
    height: 40px;
}

.button-group{
    padding-left: 125px;
    padding-top: 20px;
}

.button{
    margin: 5px;
    padding: 5px;
}

.footer-container{
    display: flex;
    padding: 15px;
    background-color: #f2f2f2;
}

.left-footer{
    margin-right: auto;
}